.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 1rem 0;
}

.actions {
  text-align: right;
}
.actions button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #6e6c47;
  padding: 0.5rem 2rem;
  border-radius: 25px;
  margin-left: 1rem;
}
.actions button:hover,
.actions button:active {
  background-color: #44432d;
  border-color: #44432d;
  color: white;
}
.actions .button--alt {
  color: #6e6c47;
}
