.App {
  text-align: center;
}
.Title {
  color: white;
  margin-top: 5vh;
}

.Content {
  align-self: center;
  width: 50vh;
}

.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
